{% extends 'MegacodersPageBundle:Module:base.html.twig' %}

{% block css_class %}module-wrapper_menu-breadcrumb{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        {% for item in menu %}
            <li class="breadcrumb-item{% if not item.enabled %} disabled{% elseif item.active or item.activeParent %} active{% endif %}">
                {% if loop.last %}
                    {{ item.name }}
                {% elseif item.enabled %}
                    <a href="{{ item.url }}">{{ item.name }}</a>
                {% else %}
                    {{ item.name }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
