{% extends 'MegacodersPageBundle:Module:base.html.twig' %}

{% block css_class %}module-wrapper_menu{% endblock %}

{% macro menu(menu) %}
    {% import _self as macro %}

    <ul class="nav navbar-nav">
        {% for item in menu %}
            <li class="nav-item{% if not item.enabled %} disabled{% elseif item.active or item.parentActive %} active{% endif %}">
                {% if item.enabled and item.url %}
                    <a class="nav-link" href="{{ item.url }}">{{ item.name }}</a>
                {% else %}
                    {{ item.name }}
                {% endif %}

                {% if item.children|length > 0 %}
                    {{ macro.menu(item.children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% import _self as macro %}

{% block content %}
    {{ macro.menu(menu) }}
{% endblock %}
